body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  background-image: url("../img/nyan-cat.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex: 1 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2rem;
  color: #fda2fd;
  margin: 0 0 1rem 0;
}

/* Main content */
main {
  width: 100%;
  max-width: 60rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 1rem;
}

aside.counter {
  grid-column: 1;
}

div.game-board {
  grid-column: 2;
}

aside.btn {
  grid-column: 3;
}

/* Grid layout for the cards */
.container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  margin-bottom: 10dvh;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

/* Card styles */
.container-1 img,
.container-2 img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  background-color: #fda2fd;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.05);
}

/* Counter and button styles */
.counter,
.btn {
  background-color: #fda2fd;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 15px 0;
  color: black;
  font-weight: bold;
  align-self: flex-end;
}

.btn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.btn footer {
  color: #fda2fd;
  margin: 0;
}
